@charset "utf8";

@font-face {
    font-family: "Xilosa";
    src: url("./xilosa/xilosa_.ttf") format("truetype");
}

:root {
    --VerdeEscuro: #394023;
    --VerdeClaro: #B2B349;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Xilosa";
}

html, body {
    height: 100vh;
    width: 100vw;
    
    overflow-x: hidden;
}

header {
    width: calc(100vw - 15.5px);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--VerdeEscuro);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

header div#title h1 {
    font-size: 3rem;
    color: #FFFFFF;
}

header nav {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header nav a {
    margin: 2px 0;
    padding: 5px;
    width: 180px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    margin-top: 100px;
}

main section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main section#inicio {
    text-align: center;
    background-image: url("./img/receitas-saudaveis.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main section#inicio div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 130px;
}

main section#inicio h1 {
    color: #FFFFFF;
    font-size: 2em;
}

main section#inicio a {
    display: block;
    margin: 50px auto;
    padding: 5px;
    width: 180px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--VerdeClaro);
    border: 1px solid black;
    border-radius: 10px;
    transition: .2s linear;
}

main section#inicio a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

main section#sobre {
    background-color: var(--VerdeEscuro);
}

main section#sobre div {
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main section#sobre div h1 {
    color: #FFFFFF;
    font-size: 2em;
    text-align: center;
    margin: 50px 0;
}

main section#sobre div img {
    width: 350px;
    border-radius: 10px;
}

main section#sobre div p {
    font-size: 1.3em;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}

main section#cardapio {
    background-color: #FFFFFF;
    padding: 20px;
}

main section#cardapio div {
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main section#cardapio div h1 {
    color: #000000;
    font-size: 2em;
    text-align: center;
    margin: 100px 0 50px 0;
}

main section#cardapio div p {
    font-size: 1.3em;
    text-align: center;
    margin-top: 10px;
    margin-right: 50px;
    max-width: 600px;
}

main section#cardapio div a {
    display: block;
    margin: 50px auto;
    padding: 5px;
    width: 180px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--VerdeClaro);
    border: 1px solid black;
    border-radius: 10px;
    transition: .2s linear;
}

main section#cardapio div a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

main section#cardapio div img {
    width: 350px;
    border-radius: 10px;
    margin-top: 20px;
}

main section#pedido {
    background-image: url("./img/pedido.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 150px 0;
}

main section#pedido div {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 80px;
}

main section#pedido div#title {
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 300px;
}

main section#pedido div#title h1 {
    color: #FFFFFF;
    font-size: 1.9em;
}

main section#pedido div#tutorial {
    background-color: rgba(0, 0, 0, 0);
}

main section#pedido div#tutorial ol li {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px 0;
    font-size: 1.2em;
    list-style-position: inside;
    text-indent: 5px;
    padding: 10px;
}

main section#pedido div#link {
    text-align: center;
}

main section#pedido div#link a {
    display: block;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--VerdeClaro);
    border: 1px solid black;
    border-radius: 10px;
    transition: .2s linear;
    width: 250px;
}

main section#pedido div#link a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

footer {
    background-color: var(--VerdeClaro);
}

footer div#title {
    padding: 50px 0 10px 0;
}

footer div#title h1 {
    margin-left: 10px;
}

footer div#content {
    padding: 10px;
    display: flex;
}

footer div#content div {
    width: 500px;
    margin: 10px;
}

footer div#content div h3 {
    font-weight: bold;
}

footer div#content div#social h3 {
    width: 180px;
}

footer div#content div#social ul {
    padding-left: 20px;
}

footer div#content div#social ul li a {
    color: #000000;
    text-decoration: none;
}

footer div#content div#map iframe {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
}

footer div#creator {
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.8);
    padding: 10px;
    background-color: var(--VerdeEscuro);
    color: #FFFFFF;
    text-align: center;
}

footer div#creator p a {
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
footer div#creator p a:hover {
    text-decoration: underline;
}